nav{
    display:flex ;
    align-items: center;
    justify-content: space-between;
    background-color: bisque;
}

.div a{
    display: flex;
    width: 100%;
    

    
}

ul li{
    display: none;
}

.d-flex1{
    background-color: aquamarine;
    flex: 1;
}

.d-flex2{
    background-color: chartreuse;
    flex: 2;
}

.d-flex3{
    background-color: aquamarine;
    flex: 1;
}

button:hover{
    color: green ;
    
    

}


@media all and (max-width:768px) {
    
}